@model LATUERCA.Models.Empresa

@{
    ViewBag.Title = "Crear Empresa";
}

@if (TempData["notice"] != null)
{
    <div class="pad margin no-print" id="mensaje">
        <div class="callout callout-success" style="margin-bottom: 0!important;">
            <i class="fa fa-check"></i>   @TempData["notice"]
        </div>
    </div>
}
<section class="content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class='box-header with-border'>
                    <div class="user-block">
                        <img class="img-circle tip" src="~/Content/img/mundo.jpeg" width="50" title="Mundo Tuerca" alt="Mundo Tuerca">
                        <span class="username"><a href="#">Mundo Tuerca, Inc</a></span>
                        <span class='description'>@ViewBag.Title</span>
                    </div>
                    <div class='box-tools btn-group'>
                        <a href="@Url.Action("Index", "Empresas")" id="" class="btn btn-link btn-sm hidden-lg tip" title="Ver Empresa">
                            <i class="fa fa-files-o"></i>
                        </a>
                        <a href="@Url.Action("Index", "Empresas")" id="" class="btn btn-link btn-sm visible-lg tip" title="Ver Empresa">
                            <i class="fa fa-files-o"></i> <b>Ver Empresa</b>
                        </a>
                        <button href="" id="" class="btn btn-success btn-sm tip pull-right visible-lg" title="Guardar" type="submit" name="" value="Guardar">
                            <i class="br-floppy"></i>  <b>Guardar</b>
                        </button>
                        <button href="" id="" class="btn btn-success hidden-lg btn-sm tip pagar pull-right" title="Guardar" type="submit" name="" value="Guardar">
                            <i class="br-floppy"></i>
                        </button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class='box-body'>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.NombreCorto, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.NombreCorto, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre Corto" } })
                        @Html.ValidationMessageFor(model => model.NombreCorto, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.Ruc, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Ruc, new { htmlAttributes = new { @class = "form-control", @placeholder = "R.U.C / C.I.Nº" } })
                        @Html.ValidationMessageFor(model => model.Ruc, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.Departamento, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Departamento, new { htmlAttributes = new { @class = "form-control", @placeholder = "Departamento" } })
                        @Html.ValidationMessageFor(model => model.Departamento, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.Ciudad, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Ciudad, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ciudad" } })
                        @Html.ValidationMessageFor(model => model.Ciudad, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pais" } })
                        @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Direccion" } })
                        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @data_inputmask = "'mask': '(099) 999-999'", @data_mask = "", @placeholder = "Telefono" } })
                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.Web, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Web, new { htmlAttributes = new { @class = "form-control", @value = "http://", @placeholder = "http://" } })
                        @Html.ValidationMessageFor(model => model.Web, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label" })
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Estado)
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#Web").val("http://");
        })
    </script>
}