@model LATUERCA.Models.Empresa
@using LaTuerca.Controllers
@{
    EmpresasController empresa = new EmpresasController();
    ViewBag.NombreEmpresa = empresa.getNombreEmpresa();
}

@{
    ViewBag.Title = "Detalle";
}

@if (TempData["notice"] != null)
{
    <div class="pad margin no-print" id="mensaje">
        <div class="callout callout-success" style="margin-bottom: 0!important;">
            <i class="fa fa-check"></i>   @TempData["notice"]
        </div>
    </div>
}


<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class='box-header with-border'>
                    <div class="user-block">
                        <img class="img-circle tip" src="~/Content/img/mundo.jpeg" width="50" title="@ViewBag.NombreEmpresa" alt="@ViewBag.NombreEmpresa">
                        <span class="username text-capitalize text-light-blue text-blue">@ViewBag.NombreEmpresa</span>
                        <span class='description'>@ViewBag.Title</span>

                    </div>
                    <div class='box-tools btn-group'>
                        <a href="@Url.Action("Index", "Empresas")" class="btn btn-link btn-sm hidden-lg tip" title="Ver Empresas">
                            <i class="fa fa-building"></i>
                        </a>
                        <a href="@Url.Action("Index", "Empresas")" id="" class="btn btn-link btn-sm visible-lg tip" title="Ver Empresas">
                            <i class="fa fa-building"></i> <b>Ver Empresas</b>
                        </a>
                        <a href="@Url.Action("Create", "Empresas")" id="" class="btn btn-link btn-sm hidden-lg tip" title="Nuevo Empresa">
                            <i class="fa fa-plus-sign2"></i>
                        </a>
                        <a href="@Url.Action("Create", "Empresas")" id="" class="btn btn-link btn-sm visible-lg tip" title="Nuevo Empresa">
                            <i class="fa fa-plus-sign2"></i> <b>Nueva Empresa</b>
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NombreCorto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NombreCorto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Ruc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ruc)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Departamento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Departamento)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Ciudad)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ciudad)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Pais)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Pais)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Direccion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Telefono)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Telefono)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Web)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Web)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Estado)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
