@model LaTuerca.Models.IndexViewModel
@{
    ViewBag.Title = "Gestionar";
}


<section class="content-header">
    <h1>
        <i class="im-menu"></i> @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"> <i class="im-menu"></i> @ViewBag.Title</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        @ViewBag.StatusMessage
        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div class="col-lg-12" id="mensaje">
                <div class="callout callout-success">
                    @Html.ValidationSummary()
                </div>
            </div>
        }
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Cambiar configuración de la cuenta
                    </h3>
                </div>

                <div class="box-body">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>Contraseña:</dt>
                            <dd>
                                [
                                @if (Model.HasPassword)
                                {
                                    @Html.ActionLink("Cambia tu contraseña", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Crear nueva contraseña", "SetPassword")
                                }
                                ]
                            </dd>
                            <dt>External Logins:</dt>
                            <dd>
                                @Model.Logins.Count [
                                @Html.ActionLink("Gestionar", "ManageLogins") ]
                            </dd>
                            @*
                                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                                 See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                                 Uncomment the following block after you have set up two-factor authentication
                            *@
                            @*
                                <dt>Phone Number:</dt>
                                <dd>
                                    @(Model.PhoneNumber ?? "None") [
                                    @if (Model.PhoneNumber != null)
                                    {
                                        @Html.ActionLink("Change", "AddPhoneNumber")
                                        @: &nbsp;|&nbsp;
                                        @Html.ActionLink("Remove", "RemovePhoneNumber")
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Add", "AddPhoneNumber")
                                    }
                                    ]
                                </dd>
                            *@
                            <dt>Autenticación de dos factores:</dt>
                            <dd>
                                <p>
                                    No hay proveedores de autenticación de dos factores configurados. Ver <a href="http://go.microsoft.com/fwlink/?LinkId=403804">este artículo</a>
                                    para obtener más información sobre cómo configurar esta aplicación ASP.NET para permitir la autenticación de dos factores.
                                </p>
                                @if (Model.TwoFactor)
                                    {
                                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <text>Habilitar
                                            <input type="submit" value="Desabilitar" class="btn btn-link" />
                                            </text>
                                        }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <text>Disabled
                                            <input type="submit" value="Habilitar" class="btn btn-link" />
                                            </text>
                                        }
                                    }
                            </dd>
                        </dl>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}