@model LaTuerca.Models.Repuesto
@using LaTuerca.Controllers
@{
    EmpresasController empresa = new EmpresasController();
    ViewBag.NombreEmpresa = empresa.getNombreEmpresa();
}

@{
    ViewBag.Title = "Detalle";
}

@if (TempData["notice"] != null)
{
    <div class="pad margin no-print" id="mensaje">
        <div class="callout callout-success" style="margin-bottom: 0!important;">
            <i class="fa fa-check"></i>   @TempData["notice"]
        </div>
    </div>
}


@if (TempData["notice"] != null)
{
    <div class="pad margin no-print" id="mensaje">
        <div class="callout callout-success" style="margin-bottom: 0!important;">
            <i class="fa fa-check"></i>   @TempData["notice"]
        </div>
    </div>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class='box-header with-border'>
                    <div class="user-block">
                        <img class="img-circle tip" src="~/Content/img/mundo.jpeg" width="50" title="@ViewBag.NombreEmpresa" alt="@ViewBag.NombreEmpresa">
                        <span class="username text-capitalize text-light-blue text-blue">@ViewBag.NombreEmpresa</span>
                        <span class='description'>@ViewBag.Title</span>

                    </div>
                    <div class='box-tools btn-group'>
                        <a href="@Url.Action("Index", "Repuestos")" class="btn btn-link btn-sm hidden-lg tip" title="Ver Repuestos">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a href="@Url.Action("Index", "Repuestos")" id="" class="btn btn-link btn-sm visible-lg tip" title="Ver Repuestos">
                            <i class="fa fa-wrench"></i> <b>Ver Repuestos</b>
                        </a>
                        <a href="@Url.Action("Create", "Repuestos")" id="" class="btn btn-link btn-sm hidden-lg tip" title="Nuevo Repuesto">
                            <i class="fa fa-plus-sign2"></i>
                        </a>
                        <a href="@Url.Action("Create", "Repuestos")" id="" class="btn btn-link btn-sm visible-lg tip" title="Nuevo Repuesto">
                            <i class="fa fa-plus-sign2"></i> <b>Nuevo Repuesto</b>
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Modelo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Modelo.NombreModelo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Modelo.Marca)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Modelo.Marca.Nombre)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Categoria)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Categoria.Nombre)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Proveedor)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Proveedor.RazonSocial)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Stock)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Stock)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.StockMinimo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.StockMinimo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PrecioCosto)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PrecioCosto)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PrecioVenta1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PrecioVenta1)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PrecioVenta2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PrecioVenta2)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Imagen)
                        </dt>

                        <dd>
                            <img class="img-md img-thumbnail tip" title="@Model.Nombre" width="30" src="@Url.Content("~/Content/img/Uploads/Repuestos/" + Model.Imagen)" />
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>