@model LaTuerca.Models.Caja

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Caja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Apertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Apertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Cierre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Cierre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cierre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cierre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
