@model LaTuerca.Models.Caja

@{
    ViewBag.Title = "Detalles de Caja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (TempData["notice"] != null)
{
    <div class="pad margin no-print" id="mensaje">
        <div class="callout callout-success" style="margin-bottom: 0!important;">
            <i class="fa fa-check"></i>   @TempData["notice"]
        </div>
    </div>
}
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class='box-header with-border'>
                    <div class="user-block">
                        <img class="img-circle tip" src="~/Content/img/mundo.jpeg" width="50" title="Mundo Tuerca" alt="Mundo Tuerca">
                        <span class="username"><a href="#">Mundo Tuerca, Inc</a></span>
                        <span class='description'>@ViewBag.Title</span>
                        <strong class='description'>Caja Nº @Html.DisplayFor(model => model.Id)</strong>

                    </div>
                    <div class='box-tools btn-group'>
                        <a href="@Url.Action("Index", "Cajas")" class="btn btn-link btn-sm hidden-lg tip" title="Ver Cajas">
                            <i class="fa fa-inbox"></i>
                        </a>
                        <a href="@Url.Action("Index", "Cajas")" id="" class="btn btn-link btn-sm visible-lg tip" title="Ver Cajas">
                            <i class="fa fa-inbox"></i> <b>Ver Cajas</b>
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed table-hover table-reflow table-inverse tip" title="" id="">
                            <thead>
                                <tr class="primary">
                                    <th class="col-lg-2">
                                        @Html.DisplayNameFor(model => model.Fecha_Apertura)

                                    </th>
                                    <th class="col-lg-2">
                                        @Html.DisplayNameFor(model => model.Inicial)
                                    </th>
                                    <th class="col-lg-2">
                                        @Html.DisplayNameFor(model => model.Operaciones)
                                    </th>
                                    <th class="col-lg-2">
                                        @Html.DisplayNameFor(model => model.Fecha_Cierre)
                                    </th>
                                    <th class="col-lg-2">
                                        @Html.DisplayNameFor(model => model.Cierre)
                                    </th>
                                    <th class="col-lg-1">
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </th>
                                    <th class="col-lg-1">
                                        @Html.DisplayNameFor(model => model.Usuario)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-lg-2">
                                        @String.Format("{0:dd/MM/yyyy hh:mm:ss}", Model.Fecha_Apertura)
                                    </td>
                                    <td class="col-lg-2">
                                        @String.Format("{0:C}", Model.Inicial)
                                    </td>
                                    <td class="col-lg-2">
                                        @Html.DisplayFor(model => model.Operaciones)
                                    </td>
                                    <td class="col-lg-2">
                                        @String.Format("{0:dd/MM/yyyy hh:mm:ss}", Model.Fecha_Cierre)
                                    </td>
                                    <td class="col-lg-2">
                                        @String.Format("{0:C}", Model.Cierre)
                                    </td>
                                    <td class="col-lg-1">
                                        @Html.DisplayFor(model => model.Estado)
                                    </td>
                                    <td class="col-lg-1">
                                        @Html.DisplayFor(model => model.Usuario)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="fa fa-inbox"></span> Movimientos</h3>
                </div>
                <div class="box-body">
                    <div class=" table-responsive">
                        <table class="table table-striped table-condensed table-hover table-reflow table-inverse tip" title="" id="">
                            <thead>
                                <tr class="">
                                    <th class="col-lg-4">
                                        Concepto
                                    </th>
                                    <th class="col-lg-4">
                                        Monto
                                    </th>
                                    <th class="col-lg-4">
                                        Movimiento
                                    </th>
                                </tr>
                            </thead>
                            @if (Model != null && Model.detallesCaja != null && Model.detallesCaja.Count > 0)
                            {
                                foreach (var item in Model.detallesCaja)
                                {
                                    string bg = "";
                                    if (item.Movimiento == "Salida")
                                    {
                                        bg = "danger";
                                    }
                                    else
                                    {
                                        bg = "success";
                                    }
                                    <tbody>
                                        <tr class="@bg">
                                            <th class="col-lg-4">
                                                @item.Concepto
                                            </th>
                                            <th class="col-lg-4">
                                                @String.Format("{0:C}", item.Monto)
                                            </th>
                                            <th class="col-lg-4">
                                                @item.Movimiento
                                            </th>
                                        </tr>
                                    </tbody>
                                }
                            }
                            else
                            {
                                <tbody>
                                    <tr class="warning">
                                        <th colspan="3" class="col-lg-12 text-center">
                                            No se registran movimientos
                                        </th>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</section>