@model LaTuerca.Models.Caja

@{
    ViewBag.Title = "Detalles de Caja";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string estado = "";
    string bgfechacierre = "";
    if (Model.Estado == true)
    {
        estado = "Caja Cerrada";
        bgfechacierre = "bg-green";
    }
    else
    {
        estado = "Caja Abierta";
        bgfechacierre = "bg-red";
    }

    var encierre = Model.Inicial + (int)Model.Cierre;
    var saldo = "";
    var bgcolor = "";
    if (Model.Inicial + (int)Model.Cierre > 0)
    {
        saldo = "Saldo: " + @String.Format("{0:C}", encierre);
        bgcolor = "bg-green";
    }
    else
    {
        saldo = "Saldo: " + @String.Format("{0:C}", encierre);
        bgcolor = "bg-red";
    }
}


@if (TempData["notice"] != null)
{
    <div class="pad margin no-print" id="mensaje">
        <div class="callout callout-success" style="margin-bottom: 0!important;">
            <i class="fa fa-check"></i>   @TempData["notice"]
        </div>
    </div>
}
<section class="content">
    <div class="row">
        <div class="col-lg-3">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa  fa-calendar-check-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@Html.DisplayNameFor(model => model.Fecha_Apertura)</span>
                    <span class="info-box-number">@String.Format("{0:dd/MM/yyyy hh:mm:ss}", Model.Fecha_Apertura)</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>
        <div class="col-lg-3">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@Html.DisplayNameFor(model => model.Inicial)</span>
                    <span class="info-box-number">@String.Format("{0:C}", Model.Inicial)</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>
        <div class="col-lg-3">
            <div class="info-box">
                <span class="info-box-icon @bgfechacierre"><i class="fa  fa-calendar-minus-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@Html.DisplayNameFor(model => model.Fecha_Cierre)</span>
                    <span class="info-box-number">@String.Format("{0:dd/MM/yyyy hh:mm:ss}", Model.Fecha_Cierre)</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>
        <div class="col-lg-3">
            <div class="info-box @bgcolor">
                <span class="info-box-icon"><i class="fa fa-credit-card"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@Html.DisplayNameFor(model => model.Cierre)</span>
                    <span class="info-box-number">@String.Format("{0:C}", Model.Cierre)</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        @saldo
                    </span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class='box-header with-border'>
                    <div class="user-block">
                        <span class='text-muted'>Caja Nº <b class="text-primary">@Html.DisplayFor(model => model.Id)</b>  |  
                          @Html.DisplayNameFor(model => model.Operaciones) <b class="text-primary">@Html.DisplayFor(model => model.Operaciones)</b>  |
                          @Html.DisplayNameFor(model => model.Estado) <b class="text-primary">@Html.DisplayFor(model => model.Estado)  @estado</b>
                        </span>
                    </div>
                    <div class='box-tools btn-group'>
                        <a href="@Url.Action("Index", "Cajas")" class="btn btn-link btn-sm hidden-lg tip" title="Ver Cajas">
                            <i class="fa fa-inbox"></i>
                        </a>
                        <a href="@Url.Action("Index", "Cajas")" id="" class="btn btn-link btn-sm visible-lg tip" title="Ver Cajas">
                            <i class="fa fa-inbox"></i> <b>Ver Cajas</b>
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <div class=" table-responsive">
                        <table class="table table-condensed table-hover table-striped table-inverse" id="tablaMenu">
                            <thead>
                                <tr class="">
                                    <th class="col-lg-4">
                                        Concepto
                                    </th>
                                    <th class="col-lg-4">
                                        Monto
                                    </th>
                                    <th class="col-lg-4">
                                        Movimiento
                                    </th>
                                </tr>
                            </thead>
                            @if (Model != null && Model.detallesCaja != null && Model.detallesCaja.Count > 0)
                            {
                                foreach (var item in Model.detallesCaja)
                                {
                                    string bg = "";
                                    if (item.Movimiento == "Salida")
                                    {
                                        bg = "danger";
                                    }
                                    else
                                    {
                                        bg = "success";
                                    }
                                    <tbody>
                                        <tr class="@bg">
                                            <th class="col-lg-4">
                                                @item.Concepto
                                            </th>
                                            <th class="col-lg-4">
                                                @String.Format("{0:C}", item.Monto)
                                            </th>
                                            <th class="col-lg-4">
                                                @item.Movimiento
                                            </th>
                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</section>