@model LaTuerca.Models.Modelo

@{
    ViewBag.Title = "Nuevo Modelo";
}

<section class="content-header">
    <h1>
        <i class="im-menu"></i> @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"> <i class="im-menu"></i> @ViewBag.Title</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span class="btn-group">
                            <a href="@Url.Action("Index", "Modelos")" class="btn btn-default btn-flat">
                                <i class="im-menu"></i> Ver todo
                            </a>
                        </span>
                        <span id="mensaje"></span>
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" class="" data-toggle="modal" data-target="#crearMarca"><i class="im-plus"></i> Crear Marca</a></li>
                                <li class="divider"></li>
                                <li><a href="#" class="" data-toggle="modal" data-target="#crearModelo"><i class="im-plus"></i> Crear Modelo</a></li>
                                <li class="divider"></li>
                                <li><a href="#" class="" data-toggle="modal" data-target="#crearCategoria"><i class="im-plus"></i> Crear Categoria</a></li>
                                <li class="divider"></li>
                                <li><a href="#" class="" data-toggle="modal" data-target="#crearProveedor"><i class="im-plus"></i> Crear Proveedor</a></li>
                                <li class="divider"></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <form role="form" class="form-horizontal" id="formulario">
                        <div class="box-body">
                            @if (TempData["notice"] != null)
                            {
                                <div class="col-lg-12" id="mensaje">
                                    <div class="callout callout-success">
                                        @TempData["notice"]
                                    </div>
                                </div>
                            }
                            <div class="form-group col-lg-12">
                                @Html.LabelFor(model => model.NombreModelo, htmlAttributes: new { @class = "control-label" })
                               
                                    @Html.EditorFor(model => model.NombreModelo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NombreModelo, "", new { @class = "text-danger" })
                               
                            </div>

                            <div class="form-group col-lg-12">
                                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label" })
                               
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Estado)
                                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                                    </div>
                                
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MarcaId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.DropDownList("MarcaId", null, "Seleccione una marca", htmlAttributes: new { @id = "select-marca", @class = "", placeholder = "Seleccione una Marca", style = "width: 100%;", @required = "true" })
                                    @Html.ValidationMessageFor(model => model.MarcaId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="pull-right">
                                <button id="guardar" type="submit" class="btn btn-social btn-success">
                                    <i class="im-checkbox-checked"></i> Guardar
                                </button>
                            </div>
                            <button type="reset" class="btn btn-social btn-default">
                                <i class="im-remove"></i> Cancelar
                            </button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
