@model LaTuerca.Models.Modelo

@{
    ViewBag.Title = "Eliminar";
}

<section class="content">
    <div class="row">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div class="col-lg-12" id="mensaje">
                <div class="callout callout-success">
                    @Html.ValidationSummary()
                </div>
            </div>
        }
        <div class="col-lg-2">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Submenú</h3>
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="@Url.Action("Create", "Modelos")">
                                <i class="im-plus"></i> Nuevo
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Modelos")">
                                <i class="im-menu2"></i> Ver todo
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "Modelos", new { id = Model.Id })">
                                <i class="im-pencil2"></i> Modificar
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- left column -->
        <div class="col-lg-10">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="im-menu"></i> @ViewBag.Title
                    </h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Marca.Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Marca.Nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NombreModelo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NombreModelo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Estado)
                        </dd>

                    </dl>

                </div>
                <div class="box-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-social btn-danger pull-right">
                            <i class="im-close"></i> Eliminar Modelo
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
