@model LaTuerca.Models.FacturaProveedor

@{
    ViewBag.Title = "Presupuesto";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>Factura Compra</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Factura</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
@if (TempData["notice"] != null)
{
    <div class="pad margin no-print" id="mensaje">
        <div class="callout callout-success" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Alerta:</h4>
            @TempData["notice"]
        </div>
    </div>
}
<section class="content">
@using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary form-horizontal">
                <div class="box-header with-border">
                    <h3 class="box-title">Proveedor</h3>
                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm RazonSocial" id="RazonSocial" placeholder="Buscar proveedor...">
                            <input type="hidden" name="ProveedorId" class="ProveedorId" id="ProveedorId" placeholder="ProveedorId" />
                            <span class="glyphicon glyphicon-search form-control-feedback text-muted"></span>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-lg-12">
                        <div class=" form-group">
                            <label class="col-lg-3">R.U.C.:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm Ruc" placeholder="RUC" id="Ruc" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class=" form-group">
                            <label class="col-lg-3">Direccion:</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm Direccion" placeholder="Direccion" id="Direccion" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary form-horizontal">
                <div class="box-body">
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9 has-feedback input-daterange" data-provide="datepicker">
                                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control input-sm", @id = "fechacompra", placeholder = "Fecha", @required = "true", aria_required = "true" } })
                                <span class="glyphicon glyphicon-calendar form-control-feedback text-muted"></span>
                                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FechaPago, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9 has-feedback input-daterange" data-provide="datepicker">
                                @Html.EditorFor(model => model.FechaPago, new { htmlAttributes = new { @class = "form-control input-sm", @id = "fechacompra", placeholder = "Fecha", @required = "true", aria_required = "true" } })
                                <span class="glyphicon glyphicon-calendar form-control-feedback text-muted"></span>
                                @Html.ValidationMessageFor(model => model.FechaPago, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Metodo, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("Metodo", new SelectList(Enum.GetValues(typeof(LaTuerca.Controllers.FacturaProveedorsController.Metodo))), "Método de pago", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.Metodo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary form-horizontal">
                <div class="box-header with-border">
                    <h3 class="box-title">FACTURA </h3>
                </div>
                <div class="box-body">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="has-feedback">
                                @Html.LabelFor(model => model.NumeroFactura, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.NumeroFactura, new { htmlAttributes = new { @class = "form-control input-sm text-danger", placeholder = "Nº de Factura", @required = "true", aria_required = "true" } })
                                    <span class="glyphicon glyphicon-inbox form-control-feedback text-muted"></span>
                                    @Html.ValidationMessageFor(model => model.NumeroFactura, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Total", @required = "true", aria_required = "true", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="box box-primary direct-chat direct-chat-primary">
                <!--
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span class="user-block">
                            <img class="img-circle" src="~/Content/img/mundo.jpeg" width="30" title="Mundo Tuerca" alt="Mundo Tuerca">
                            <span class="username"><a href="#">Mundo Tuerca, Inc</a></span>
                            <span class="description">Encarnación, Itapúa</span>
                        </span>
                    </h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="3 Productos en Detalles" class="badge bg-light-blue">3</span>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
                    </div>
                </div>
                -->
                <div class="box-header with-border">
                    <h3 class="box-title">Detalles</h3>
                    <div class="box-tools pull-right">
                        <a href="" id="addRowBtn" class="btn btn-primary btn-sm"><i class="im-cart3"></i> Agregar</a>
                        <a href="" type="reset" id="limpiar" class="btn btn-danger btn-sm disabled">
                            <i class="st-refresh"></i> Cancelar
                        </a>
                        <a href="" id="saveInvoiceBtn" class="btn btn-success btn-sm " type="submit" name="saveInvoice" value="Guardar">
                            <i class="fa fa-ok-sign"></i> Guardar
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-lg-12 table-responsive">
                        <table class="table table-striped table-condensed table-hover table-inverse tabledata" id="itemsTable">
                            <thead>
                                <tr class="bg-primary">
                                    <th class="col-lg-1"><i class="im-remove"></i></th>
                                    <th class="col-lg-2">Item</th>
                                    <th class="col-lg-3">Description</th>
                                    <th class="col-lg-2">Cantidad</th>
                                    <th class="col-lg-2">Precio Unit.</th>
                                    <th class="col-lg-2">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="item-row">
                                    <td class="col-lg-1"><i class="im-radio-checked"></i></td>
                                    <td class="col-lg-2">
                                        <div class="has-feedback">
                                            <input type="number" name="detallesFacturaProveedor[0].RepuestoId" value="" placeholder="Cod.: Repuesto" autofocus class="form-control input-sm" id="RepuestoId" tabindex="1" />
                                            <span class="glyphicon glyphicon-search form-control-feedback text-muted"></span>
                                        </div>
                                    </td>
                                    <td class="col-lg-3">
                                        <input type="text" name="detallesFacturaProveedor.[0].Nombre" value="" class="form-control input-sm" placeholder="Descripcion" id="Nombre" readonly="readonly" required />
                                    </td>
                                    <td class="col-lg-2">
                                        <input type="number" name="detallesFacturaProveedor.[0].Cantidad" value="1" min="1" max="100" class="form-control input-sm" id="Cantidad" placeholder="Cantidad" tabindex="2" required />
                                    </td>
                                    <td class="col-lg-2">
                                        <div class="input-group">
                                            <span class="input-group-addon">Gs. </span><input name="detallesFacturaProveedor.[0].Precio" class="form-control input-sm" placeholder="Precio" id="PrecioVenta1" type="text" required>
                                        </div>
                                    </td>
                                    <td class="col-lg-2">
                                        <div class="input-group">
                                            <span class="input-group-addon">Gs. </span><input name="detallesFacturaProveedor.[0].Total" class="form-control input-sm" id="TotalLinea" placeholder="Total" type="text" readonly="readonly" required>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="4"></th>
                                    <th class="text-right">Subtotal:</th>
                                    <td id="subTotal" class="text-right">Gs. </td>
                                </tr>
                                <tr>
                                    <th colspan="4"></th>
                                    <th class="text-right">
                                            <div class="input-group">
                                                <input placeholder="IVA" type="text" name="tax" id="tax" value="10" class="form-control input-sm text-right" />
                                                <span class="input-group-addon">%</span>
                                            </div>
                                    </th>
                                    <td id="salesTax" class="text-xs-center text-right">Gs.</td>
                                </tr>
                                <tr>
                                    <th colspan="4"></th>
                                    <th class="text-right">Total:</th>
                                    <td id="grandTotal" class="text-xs-center text-right">Gs. </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryCompra")
}
