@model IEnumerable<LaTuerca.Models.FacturaProveedor>
@using LaTuerca.Controllers
@{
    EmpresasController empresa = new EmpresasController();
    ViewBag.NombreEmpresa = empresa.getNombreEmpresa();
}

@{
    ViewBag.Title = "Facturas";
}@if (TempData["notice"] != null)
{
    <div class="pad margin no-print" id="mensaje">
        <div class="callout callout-success" style="margin-bottom: 0!important;">
            <i class="fa fa-check"></i>   @TempData["notice"]
        </div>
    </div>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class='box-header with-border'>
                    <div class="user-block">
                        <img class="img-circle tip" src="~/Content/img/mundo.jpeg" width="50" title="@ViewBag.NombreEmpresa" alt="@ViewBag.NombreEmpresa">
                        <span class="username text-capitalize text-light-blue text-blue">@ViewBag.NombreEmpresa</span>
                        <span class='description'>@ViewBag.Title</span>
                    </div>
                    <div class='box-tools btn-group'>
                        <a href="@Url.Action("Facturados", "FacturaProveedors")" class="btn btn-link btn-sm hidden-lg tip" title="Ver Facturas">
                            <i class="st-file"></i>
                        </a>
                        <a href="@Url.Action("Facturados", "FacturaProveedors")" id="" class="btn btn-link btn-sm visible-lg tip" title="Ver Facturas">
                            <i class="st-file"></i> <b>Ver Facturas</b>
                        </a>
                        <a href="@Url.Action("Factura", "FacturaProveedors")" id="" class="btn btn-link btn-sm hidden-lg" title="Nueva Factura">
                            <i class="fa fa-file-o"></i>
                        </a>
                        <a href="@Url.Action("Factura", "FacturaProveedors")" id="" class="btn btn-link btn-sm visible-lg" title="Nueva Factura">
                            <i class="fa fa-file-o"></i> <b>Nueva Factura</b>
                        </a>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-condensed table-hover table-striped" id="tablaMenu">
                                    <thead>
                                        <tr>
                                            <th class="col-lg-1"></th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Proveedor.RazonSocial)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Fecha)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FechaPago)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.NumeroFactura)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Total)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalPagado)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Metodo)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Pagado)
                                            </th>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="col-lg-1">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle tip" title="Acción" data-toggle="dropdown"><i class="fa fa-cog"></i> </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            @{
                                                                <li>
                                                                    <a href='@Url.Action("Details", "FacturaProveedors", new { id = item.Id })'>
                                                                        <i class="st-file"></i>  Ver Factura
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Proveedor.RazonSocial)
                                                </td>
                                                <td>
                                                    @String.Format("{0:dd/MM/yyyy}", item.Fecha)
                                                </td>
                                                <td>
                                                    @String.Format("{0:dd/MM/yyyy}", item.FechaPago)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NumeroFactura)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Total)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalPagado)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Metodo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Pagado)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </div>
</section>