@model LaTuerca.Models.Proveedor

@{
    ViewBag.Title = "Crear Proveedor";
}

<section class="content-header">
    <h1>
        <i class="im-menu"></i> @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"> <i class="im-menu"></i> @ViewBag.Title</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div class="col-lg-12" id="mensaje">
                <div class="callout callout-success">
                    @Html.ValidationSummary()
                </div>
            </div>
        }
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <a href="@Url.Action("Index", "Proveedores")" class="btn btn-primary">
                            <i class="im-menu"></i> Ver todo
                        </a>
                    </h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <form role="form" class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group col-lg-12">
                                @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-lg-3">
                                @Html.LabelFor(model => model.Ruc, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Ruc, new { htmlAttributes = new { @class = "form-control", @data_inputmask = "'mask': '9999999-9'", @data_mask = "" } })
                                @Html.ValidationMessageFor(model => model.Ruc, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-lg-3">
                                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-lg-3">
                                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @data_inputmask = "'mask': '(099) 999-999'", @data_mask = "" } })
                                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-lg-3">
                                @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control", @data_inputmask = "'mask': '(0999) 999-999'", @data_mask = "" } })
                                @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-social btn-success">
                                    <i class="im-checkbox-checked"></i> Guardar
                                </button>
                            </div>
                            <button type="reset" class="btn btn-social btn-default">
                                <i class="im-remove"></i> Cancelar
                            </button>
                        </div>
                    </form>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}