@if (!Request.IsAuthenticated)
{
    Response.Redirect("Account/Login");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mundo Tuerca</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="sidebar-mini skin-blue">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="http://localhost:53172/" class="logo">
                <span class="logo-mini"><b>M</b>T</span>
                <span class="logo-lg"><b>MUNDO</b>TUERCA</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                @Html.Partial("_LoginPartial")
            </nav>
        </header>
    @if (Request.IsAuthenticated)
        {
            <aside class="main-sidebar">
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="~/Content/img/mundo.jpeg" class="img-circle" alt="@ViewBag.Title">
                        </div>
                        <div class="pull-left info">
                            <p>@ViewBag.Title</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="header">MENÚ</li>
                        @{ Html.RenderAction("MainMenu", "Menus"); }
                    </ul>
                </section>
            </aside>
        }
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.0
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year - La Tuerca.</strong> All rights reserved.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            //$("#ProveedorId").val("");
            load_marcas();
            load_clientes();
            load_proveedores();
            function load_proveedores() {
                var RazonSocialProveedor = {
                    url: "/FacturaProveedors/getProveedores",
                    getValue: "RazonSocial",
                    list: {
                        match: {
                            enabled: true
                        },
                        maxNumberOfElements: 8,
                        sort: {
                            enabled: true
                        },
                        onSelectItemEvent: function () {
                            var ProveedorId = $(".RazonSocial").getSelectedItemData().Id;
                            var RazonSocial = $(".RazonSocial").getSelectedItemData().RazonSocial;
                            var Ruc = $(".RazonSocial").getSelectedItemData().Ruc;
                            //var Telefono = $(".RazonSocial").getSelectedItemData().Telefono;
                            var Direccion = $(".RazonSocial").getSelectedItemData().Direccion;

                            $("#ProveedorId").val(ProveedorId).trigger("change");
                            //$("#RazonSocial").val(RazonSocial).trigger("change");
                            //$("#Ruc").val(Ruc).trigger("change");
                            //$("#Telefono").val(Telefono).trigger("change");
                            //$("#Direccion").val(Direccion).trigger("change");
                            $("#saveInvoiceBtn").removeClass('disabled');
                            $("#InfoProveedor").val(RazonSocial + ' - R.U.C.: ' + Ruc + ' - Direccion:' + Direccion).trigger("change");
                            //$("#addRowBtn").removeClass('disabled');
                        },
                    },
                    //theme: "plate-dark",
                    //theme: "square"
                    //theme: "funky"
                    //theme: "round"
                };
                $("input#RazonSocial").easyAutocomplete(RazonSocialProveedor);
                $(".easy-autocomplete-container").addClass("text-danger");

            }

            function load_clientes() {
                var RazonSocialClientes = {
                    url: "/FacturaClientes/getClientes",
                    getValue: "RazonSocial",
                    list: {
                        match: {
                            enabled: true
                        },
                        maxNumberOfElements: 8,
                        sort: {
                            enabled: true
                        },
                        onSelectItemEvent: function () {
                            var ClienteId = $(".RazonSocial").getSelectedItemData().Id;
                            var RazonSocial = $(".RazonSocial").getSelectedItemData().RazonSocial;
                            var Documento = $(".RazonSocial").getSelectedItemData().Documento;
                            var Telefono = $(".RazonSocial").getSelectedItemData().Telefono;
                            var Direccion = $(".RazonSocial").getSelectedItemData().Direccion;

                            $("#ClienteId").val(ClienteId).trigger("change");
                            //$("#RazonSocial").val(RazonSocial).trigger("change");
                            //$("#Ruc").val(Ruc).trigger("change");
                            //$("#Telefono").val(Telefono).trigger("change");
                            //$("#Direccion").val(Direccion).trigger("change");
                            $("#saveInvoiceBtn").removeClass('disabled');
                            $("#InfoCliente").val(RazonSocial + ' - R.U.C.: ' + Documento + ' - Direccion:' + Direccion).trigger("change");
                            //$("#addRowBtn").removeClass('disabled');
                        },
                    },
                    //theme: "plate-dark",
                    //theme: "square"
                };
                $("input#RazonSocialCliente").easyAutocomplete(RazonSocialClientes);
                $(".easy-autocomplete-container").addClass("text-danger");

            }
            function load_marcas() {
                var codigoArticulo = {
                    url: "/Modelos/getMarcas",
                    getValue: "Nombre",
                    list: {
                        match: {
                            enabled: true
                        },
                        maxNumberOfElements: 8,
                        sort: {
                            enabled: true
                        },
                        onSelectItemEvent: function () {
                            var MarcaId = $(".Marca").getSelectedItemData().Id;
                            $("#MarcaId").val(MarcaId).trigger("change");
                        },
                    },
                    //theme: "plate-dark",
                    theme: "square"
                };
                $("input.Marca").easyAutocomplete(codigoArticulo);
                $(".easy-autocomplete-container").addClass("text-danger");

            }

            function load_cli() {
                $('#RazonSocialCliente').autocomplete({
                    source: function (request, response) {
                        $.post('/FacturaClientes/BusquedaCliente', { term: request.term },
                            function (data) {
                                var json = [];
                                if (data) {
                                    $(data).each(function (i, item) {
                                        json.push({
                                            label: item.RazonSocial,
                                            value: item.RazonSocial,
                                            ProveedorId: item.Id,
                                            Documento: item.Documento,
                                            Telefono: item.Telefono,
                                            Direccion: item.Direccion
                                        });
                                    });
                                }
                                return response(json);
                            }, 'json');
                    },
                    delay: 100,
                    minLength: 1,
                    select: function (e, data) {
                        $('#ClienteId').val(data.item.ClienteId);
                        $('#Documento').val(data.item.Documento);
                        $('#Telefono').val(data.item.Telefono);
                        $('#Direccion').val(data.item.Direccion);
                    }
                });
            };
            function load_pro() {
                $('#RazonSocial').autocomplete({
                    source: function (request, response) {
                        $.post('/FacturaProveedors/BusquedaProveedor', { term: request.term },
                            function (data) {
                                var json = [];
                                if (data) {
                                    $(data).each(function (i, item) {
                                        json.push({
                                            label: item.RazonSocial,
                                            value: item.RazonSocial,
                                            ProveedorId: item.Id,
                                            Ruc: item.Ruc,
                                            Telefono: item.Telefono,
                                            Direccion: item.Direccion
                                        });
                                    });
                                }
                                return response(json);
                            }, 'json');
                    },
                    delay: 100,
                    minLength: 1,
                    select: function (e, data) {
                        $('#ProveedorId').val(data.item.ProveedorId);
                        $('#Ruc').val(data.item.Ruc);
                        $('#Telefono').val(data.item.Telefono);
                        $('#Direccion').val(data.item.Direccion);
                    }
                });
            };
        });
    </script>





    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function () {
            var oTable = $('table.tabledata').DataTable({
                "bProcessing": true,
                "sPaginationType": "full_numbers",
                "paging": true,
                "iDisplayLength": 10,
                "bPaginate": true,
                "bSort": true,
                "oLanguage": {
                    "oPaginate": {
                        "sPrevious": "←",
                        "sNext": "→",
                        "sLast": "»",
                        "sFirst": "«"
                    },
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
            var oTable = $('#tablaMenu').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                "bProcessing": true,
                "sPaginationType": "full_numbers",
                "paging": true,
                "iDisplayLength": 10,
                "bPaginate": true,
                "bSort": true,
                "oLanguage": {
                    "oPaginate": {
                        "sPrevious": "←",
                        "sNext": "→",
                        "sLast": "»",
                        "sFirst": "«"
                    },
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });

            oTable.buttons().container().appendTo('#tablaMenu .col-md-6:eq(0)');

            $("[data-mask]").inputmask();
            /*
            $("[data-mask]").inputmask("phone", {
                url: "C:/Users/MACIEL/Desktop/GITHUB/MUNDOTUERCA/LaTuerca/Scripts/input-mask/phone-codes/phone-codes.json",
                onKeyValidation: function () { //show some metadata in the console
                    console.log($(this).inputmask("getmetadata")["name_en"]);
                }
            });
            */
            $('input').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'icheckbox_minimal-blue',
                increaseArea: '20%' // optional
            });
            $('#mensaje').delay(6000).fadeOut(2000);
            $("#ClienteIdCliente").val('');
            $("[data-toggle=tooltip]").tooltip();
            $(".tip").tooltip({ placement: 'top' });
            $(".tipR").tooltip({ placement: 'right' });
            $(".tipB").tooltip({ placement: 'bottom' });
            $(".tipL").tooltip({ placement: 'left' });
            $('#ProveedorI').selectize({
                labelField: 'model',
                valueField: 'id',
                optgroupField: 'make',
                optgroupLabelField: 'name',
                optgroupValueField: 'id',
                lockOptgroupOrder: true,
                searchField: ['model'],
                plugins: ['optgroup_columns'],
                openOnFocus: true
            });
            $('#select-marca').selectize({
                labelField: 'model',
                valueField: 'id',
                optgroupField: 'make',
                optgroupLabelField: 'name',
                optgroupValueField: 'id',
                lockOptgroupOrder: true,
                searchField: ['model'],
                plugins: ['optgroup_columns'],
                openOnFocus: true
            });
            $('#select-modelo').selectize({
                labelField: 'model',
                valueField: 'id',
                optgroupField: 'make',
                optgroupLabelField: 'name',
                optgroupValueField: 'id',
                lockOptgroupOrder: true,
                searchField: ['model'],
                plugins: ['optgroup_columns'],
                openOnFocus: true
            });
            $('#select-categoria').selectize({
                labelField: 'model',
                valueField: 'id',
                optgroupField: 'make',
                optgroupLabelField: 'name',
                optgroupValueField: 'id',
                lockOptgroupOrder: true,
                searchField: ['model'],
                plugins: ['optgroup_columns'],
                openOnFocus: true
            });
            $('#select-proveedor').selectize({
                labelField: 'model',
                valueField: 'id',
                optgroupField: 'make',
                optgroupLabelField: 'name',
                optgroupValueField: 'id',
                lockOptgroupOrder: true,
                searchField: ['model'],
                plugins: ['optgroup_columns'],
                openOnFocus: true
            });
            //$('#preciocosto').val('');
            $("#nombre").removeClass('has-error');
            $("#guardar").click(function () {
                var nombre = $('#nombre').val();
                var modelo = $('#select-modelo').val();
                var marca = $('#select-marca').val();
                var categoria = $('#select-categoria').val();
                var proveedor = $('#select-proveedor').val();
                var costo = parseInt($('#preciocosto').val());
                if (costo < 1) {
                    //$("#mensaje").html('<div class="label label-warning">Debe ingresar el precio de costo</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>Debe ingresar el precio de costo<strong>.',
                        type: "warning",
                    });
                    $("#preciocoste").addClass('has-error');
                } else {
                    $("#preciocoste").removeClass('has-error');
                };
                if (proveedor == "") {
                    //$("#mensaje").html('<div class="label label-warning">Debe seleccionar un proveedor</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>Debe seleccionar un proveedor<strong>.',
                        type: "warning",
                    });
                    $("#div-select-proveedor").addClass('has-error');
                } else {
                    $("#div-select-proveedor").removeClass('has-error');
                };
                if (categoria == "") {
                    //$("#mensaje").html('<div class="label label-warning">Debe seleccionar una categoria</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>Debe seleccionar una categoria<strong>.',
                        type: "warning",
                    });
                    $("#div-select-categoria").addClass('has-error');
                } else {
                    $("#div-select-categoria").removeClass('has-error');
                };
                if (modelo == "") {
                    //$("#mensaje").html('<div class="label label-warning">Debe seleccionar un modelo</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>Debe seleccionar una modelo<strong>.',
                        type: "warning",
                    });
                    $("#div-select-modelo").addClass('has-error');
                } else {
                    $("#div-select-modelo").removeClass('has-error');
                };
                if (marca == "") {
                    //$("#mensaje").html('<div class="label label-warning">Debe seleccionar una marca</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>Debe seleccionar una marca<strong>.',
                        type: "warning",
                    });
                    $("#div-select-marca").addClass('has-error');
                } else {
                    $("#div-select-marca").removeClass('has-error');
                };
                if (nombre.length < 3) {
                    $("#nombre").focus();
                    //$("#mensaje").html('<div class="label label-warning">El nombre debe tener al menos 3 caracteres</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>El nombre debe tener al menos 3 caracteres<strong>.',
                        type: "warning",
                    });
                    $("#div-nombre").addClass('has-error');
                };
                if (nombre == "") {
                    $("#nombre").focus();
                    //$("#mensaje").html('<div class="label label-warning">El nombre es requerido</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>El nombre es requerido<strong>.',
                        type: "warning",
                    });
                } else if (nombre.length < 3) {
                    $("#nombre").focus();
                    //$("#mensaje").html('<div class="label label-warning">El nombre debe tener al menos 3 caracteres</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>El nombre debe tener al menos 3 caracteres<strong>.',
                        type: "warning",
                    });
                    $("#div-nombre").addClass('has-error');
                }

                else if (nombre != "") {
                    $("#div-nombre").removeClass('has-error');
                    $("#div-nombre").addClass('has-success');
                }
            });
            function calcularPrecios() {
                var incremento1 = 10 / 100;
                var incremento2 = 15 / 100;
                var incremento3 = 20 / 100;
                var preciocosto = parseInt($('#preciocosto').val());
                $('#precioventa1').val(preciocosto * incremento1 + preciocosto);
                $('#precioventa2').val(preciocosto * incremento2 + preciocosto);
                $('#precioventa3').val(preciocosto * incremento3 + preciocosto);
            }
            $("#preciocosto").click(function () {
                $('#preciocosto').val('');
            });
            $('#stockminimo').val(10);
            $('#stockmaximo').val(100);
            $("#preciocosto").keyup(function () {
                var incremento1 = 20 / 100;
                var incremento2 = 35 / 100;
                var incremento3 = 40 / 100;
                var preciocosto = parseInt($('#preciocosto').val());
                $('#precioventa1').val(preciocosto * incremento1 + preciocosto);
                $('#precioventa2').val(preciocosto * incremento2 + preciocosto);
                $('#precioventa3').val(preciocosto * incremento3 + preciocosto);
            });
        });
    </script>
</body>
</html>