@using Microsoft.AspNet.Identity
@using LaTuerca.Controllers

@if (!Request.IsAuthenticated)
{
    Response.Redirect("Account/Login");
}
@{
    string Use = "";
    int IndexUse = 0;
    string NewUse = "";
    if (Request.IsAuthenticated)
    {
        EmpresasController empresa = new EmpresasController();
        ViewBag.NombreEmpresa = empresa.getNombreEmpresa();
        ViewBag.NombreCortoEmpresa = empresa.getNombreCortoEmpresa();
        ViewBag.WebEmpresa = empresa.getWebEmpresa();
        if (User.Identity.GetUserName() != "")
        {
            Use = User.Identity.GetUserName();
            IndexUse = Use.IndexOf("@");
            NewUse = Use.Substring(0, IndexUse);
        }
    }

    String nombre = "";
    String nombrecorto = "";
    if ((ViewBag.NombreEmpresa != "") && (ViewBag.NombreEmpresa != null))
    {
        nombre = ViewBag.NombreEmpresa;
        nombrecorto = ViewBag.NombreCortoEmpresa;
    }
    else
    {
        nombre = "[Configurar Empresa]";
        nombrecorto = "[Configurar Empresa]";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | @ViewBag.NombreEmpresa</title>
            @Styles.Render("~/Content/css")
            @Scripts.Render("~/bundles/modernizr")

</head>
<body class="sidebar-mini skin-blue">
    <div class="wrapper">
        <header class="main-header">

            <a href="http://localhost:53172/" class="logo tipR" title="@nombre">
                <span class="logo-mini">@nombrecorto</span>
                <span class="logo-lg"><i class="fa-adjust fa-wrench"></i> @nombre</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                @Html.Partial("_LoginPartial")
            </nav>
        </header>
        @if (Request.IsAuthenticated)
        {
            <aside class="main-sidebar">
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="~/Content/img/mundo.jpeg" class="img-circle" alt="@ViewBag.Title">
                        </div>
                        <div class="pull-left info">
                            <p>@ViewBag.Title</p>
                            <a href="#"><i class="fa fa-circle text-success"></i><span class="text-uppercase text-gray">@NewUse</span> </a>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="header">MENÚ</li>
                        @{ Html.RenderAction("MainMenu", "Menus"); }
                    </ul>
                </section>
            </aside>
        }
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <img src="~/Content/img/mu.png" height="30" />
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year - </strong> <a href="#" class="tip" title="@ViewBag.NombreEmpresa | @ViewBag.WebEmpresa"> @ViewBag.NombreEmpresa. </a>  Todos los derechos reservados.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {

            $('#from').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                locale: 'es',
                format: 'DD/MM/YYYY HH:mm:ss'
            });
            $('#to').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                locale: 'es',
                format: 'DD/MM/YYYY HH:mm:ss'
            });
            $('#abrir').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
                locale: 'es',
                format: 'DD/MM/YYYY HH:mm:ss'
            });

            $('#Fecha_Apertura').attr("readonly", true);
            $('#abrir').attr("readonly", true);
            $('#Cierre').attr("readonly", true);
            $('#Operaciones').attr("readonly", true);

            //$("#Estado").attr('readonly', true);
            //$("#Estado").prop('disabled', true);

            $("#Imagen").fileinput({
                theme: "gly",
                allowedFileExtensions: ["jpg", "png", "gif"],
                maxFileCount: 1
            });

            load_marcas();
            function load_marcas() {
                var codigoArticulo = {
                    url: "/Modelos/getMarcas",
                    getValue: "Nombre",
                    list: {
                        match: {
                            enabled: true
                        },
                        maxNumberOfElements: 8,
                        sort: {
                            enabled: true
                        },
                        onSelectItemEvent: function () {
                            var MarcaId = $(".Marca").getSelectedItemData().Id;
                            $("#MarcaId").val(MarcaId).trigger("change");
                        },
                    },
                    //theme: "plate-dark",
                    //theme: "square"
                    theme: "round"
                };
                $("input.Marca").easyAutocomplete(codigoArticulo);
                $(".easy-autocomplete-container").addClass("text-danger");

            };

            var oTable = $('#tablaMenu').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                "bProcessing": true,
                "sPaginationType": "full_numbers",
                "paging": true,
                "iDisplayLength": 8,
                "bPaginate": true,
                "bSort": true,
                "oLanguage": {
                    "oPaginate": {
                        "sPrevious": "←",
                        "sNext": "→",
                        "sLast": "»",
                        "sFirst": "«"
                    },
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });

            oTable.buttons().container().appendTo('#tablaMenu .col-md-6:eq(0)');

            $("[data-mask]").inputmask();
            /*
            $("[data-mask]").inputmask("phone", {
                url: "C:/Users/MACIEL/Desktop/GITHUB/MUNDOTUERCA/LaTuerca/Scripts/input-mask/phone-codes/phone-codes.json",
                onKeyValidation: function () { //show some metadata in the console
                    console.log($(this).inputmask("getmetadata")["name_en"]);
                }
            });
            */
            $('input').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'icheckbox_minimal-blue',
                increaseArea: '20%' // optional
            });
            $('#mensaje').delay(6000).fadeOut(2000);
            $("#ClienteIdCliente").val('');
            $("[data-toggle=tooltip]").tooltip();
            $(".tip").tooltip({ placement: 'top' });
            $(".tipR").tooltip({ placement: 'right' });
            $(".tipB").tooltip({ placement: 'bottom' });
            $(".tipL").tooltip({ placement: 'left' });
            //$('#preciocosto').val('');
            $("#nombre").removeClass('has-error');
            $("#guardar").click(function () {
                var nombre = $('#nombre').val();
                var modelo = $('#select-modelo').val();
                var marca = $('#select-marca').val();
                var categoria = $('#select-categoria').val();
                var proveedor = $('#select-proveedor').val();
                var costo = parseInt($('#preciocosto').val());
                if (costo < 1) {
                    //$("#mensaje").html('<div class="label label-warning">Debe ingresar el precio de costo</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>Debe ingresar el precio de costo<strong>.',
                        type: "warning",
                    });
                    $("#preciocoste").addClass('has-error');
                } else {
                    $("#preciocoste").removeClass('has-error');
                };
                if (proveedor == "") {
                    //$("#mensaje").html('<div class="label label-warning">Debe seleccionar un proveedor</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>Debe seleccionar un proveedor<strong>.',
                        type: "warning",
                    });
                    $("#div-select-proveedor").addClass('has-error');
                } else {
                    $("#div-select-proveedor").removeClass('has-error');
                };
                if (categoria == "") {
                    //$("#mensaje").html('<div class="label label-warning">Debe seleccionar una categoria</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>Debe seleccionar una categoria<strong>.',
                        type: "warning",
                    });
                    $("#div-select-categoria").addClass('has-error');
                } else {
                    $("#div-select-categoria").removeClass('has-error');
                };
                if (modelo == "") {
                    //$("#mensaje").html('<div class="label label-warning">Debe seleccionar un modelo</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>Debe seleccionar una modelo<strong>.',
                        type: "warning",
                    });
                    $("#div-select-modelo").addClass('has-error');
                } else {
                    $("#div-select-modelo").removeClass('has-error');
                };
                if (marca == "") {
                    //$("#mensaje").html('<div class="label label-warning">Debe seleccionar una marca</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>Debe seleccionar una marca<strong>.',
                        type: "warning",
                    });
                    $("#div-select-marca").addClass('has-error');
                } else {
                    $("#div-select-marca").removeClass('has-error');
                };
                if (nombre.length < 3) {
                    $("#nombre").focus();
                    //$("#mensaje").html('<div class="label label-warning">El nombre debe tener al menos 3 caracteres</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>El nombre debe tener al menos 3 caracteres<strong>.',
                        type: "warning",
                    });
                    $("#div-nombre").addClass('has-error');
                };
                if (nombre == "") {
                    $("#nombre").focus();
                    //$("#mensaje").html('<div class="label label-warning">El nombre es requerido</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>El nombre es requerido<strong>.',
                        type: "warning",
                    });
                } else if (nombre.length < 3) {
                    $("#nombre").focus();
                    //$("#mensaje").html('<div class="label label-warning">El nombre debe tener al menos 3 caracteres</div>');
                    swal({
                        title: "Requerido <small>(*)</small>",
                        text: '<strong>El nombre debe tener al menos 3 caracteres<strong>.',
                        type: "warning",
                    });
                    $("#div-nombre").addClass('has-error');
                }

                else if (nombre != "") {
                    $("#div-nombre").removeClass('has-error');
                    $("#div-nombre").addClass('has-success');
                }
            });
            function calcularPrecios() {
                var incremento1 = 10 / 100;
                var incremento2 = 15 / 100;
                var incremento3 = 20 / 100;
                var preciocosto = parseInt($('#preciocosto').val());
                $('#precioventa1').val(preciocosto * incremento1 + preciocosto);
                $('#precioventa2').val(preciocosto * incremento2 + preciocosto);
                $('#precioventa3').val(preciocosto * incremento3 + preciocosto);
            }
            $("#preciocosto").click(function () {
                $('#preciocosto').val('');
            });
            $('#stockminimo').val(10);
            $('#stockmaximo').val(100);
            $("#preciocosto").keyup(function () {
                var incremento1 = 20 / 100;
                var incremento2 = 35 / 100;
                var incremento3 = 40 / 100;
                var preciocosto = parseInt($('#preciocosto').val());
                $('#precioventa1').val(preciocosto * incremento1 + preciocosto);
                $('#precioventa2').val(preciocosto * incremento2 + preciocosto);
                $('#precioventa3').val(preciocosto * incremento3 + preciocosto);
            });
        });
    </script>


</body>
</html>



<div class="modal" id="abrirCaja" tabindex="-1" role="dialog">
    @using (Ajax.BeginForm("AjaxCreate", "Cajas", FormMethod.Post,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "Caja"

        }))
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><span class="fa fa-folder-open"></span> Abrir Caja</h4>
                        <p class="help-block">
                            Una vez abierta la caja, ningún otro usuario podrá usarlo.
                        </p>
                </div>
                <div class="modal-body">
                    @Html.Hidden("action", HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString())
                    @Html.Hidden("controller", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Fecha_Apertura">Fecha de Apertura: </label>
                            <div class="col-md-10">
                                <div class='input-group' id='abri'>
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input class="form-control text-box single-line" data-val="false" data-val-date="The field Fecha de Apertura:  must be a date." data-val-required="La Fecha de Apertura es requerida" id="abrir" name="Fecha_Apertura" type="datetime" value='@TempData["Fecha_Apertura"]' readonly />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Fecha_Apertura" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Inicial">Monto Inicial</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-number="El monto inicial debe ser un número." data-val-range="El monto inicial debe ser un número entre 0 y 100.000.000.000.000.000" data-val-range-max="1E+17" data-val-range-min="0" data-val-required="Debe ingresar el monto inicial" id="Inicial" name="Inicial" type="number" value="" placeholder="¿Cuanto dinero hay en la caja?" autofocus />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Inicial" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group hidden">
                            <label class="control-label col-md-2" for="Fecha_Cierre">Fecha de Cierre: </label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-date="The field Fecha de Cierre:  must be a date." id="Fecha_Cierre" name="Fecha_Cierre" type="datetime" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Fecha_Cierre" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group hidden">
                            <label class="control-label col-md-2" for="Cierre">Monto Cierre</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field Monto Cierre must be a number." data-val-range="El monto de cierre debe ser un número entre 1 y 100.000.000.000.000.000" data-val-range-max="1E+17" data-val-range-min="1" id="Cierre" name="Cierre" type="number" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Cierre" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group hidden">
                            <label class="control-label col-md-2" for="Cierre">Total Entrada</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field Entrada must be a number." data-val-range="El Entrada debe ser un número entre 1 y 100.000.000.000.000.000" data-val-range-max="1E+17" data-val-range-min="1" id="Entrada" name="Entrada" type="number" value="0" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Entrada" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group hidden">
                            <label class="control-label col-md-2" for="Cierre">Total Salida</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field Salida must be a number." data-val-range="El Salida debe ser un número entre 1 y 100.000.000.000.000.000" data-val-range-max="1E+17" data-val-range-min="1" id="Salida" name="Salida" type="number" value="0" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Salida" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group hidden">
                            <label class="control-label col-md-2" for="Operaciones">Cantidad de Operaciones: </label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field Cantidad de Operaciones:  must be a number." data-val-required="La cantidad de operaciones es requerido" id="Operaciones" name="Operaciones" type="number" value="0" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Operaciones" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Usuario">Usuario: </label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-required="Debe indicar un usuario" id="Usuario" name="Usuario" type="text" value=@NewUse readonly/>
                                <span class="field-validation-valid text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group hidden">
                            <label class="control-label col-md-2" for="Estado">Estado: </label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <input class="check-box" data-val="true" data-val-required="El campo Estado:  es obligatorio." id="Estado" name="Estado" type="checkbox" value="true" /><input name="Estado" type="hidden" value="false" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Estado" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success btnGuardar"><i class="en-add-to-list"></i> Abrir Caja</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    }
</div><!-- /.modal -->