@model LaTuerca.ViewModels.CompraViewModel
@{
    ViewBag.Title = "Factura Compra";
}
<section class="content-header">
    <h1> @ViewBag.Title <small>#007612</small> </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Factura</a></li>
        <li class="active">Compra</li>
    </ol>
</section>
@if (TempData["notice"] != null)
{
    <div class="pad margin no-print" id="mensaje">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Alerta:</h4>
            @TempData["notice"]
        </div>
    </div>
}<!-- Main content -->
<section class="invoice">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken() <!-- title row -->
        <div class="row">
            <div class="col-xs-12 form-horizontal">
                <h2 class="page-header"> <i class="fa fa-wrench"></i> Mundo Tuerca </h2>
            </div>
            <!-- /.col -->
        </div>
    <!-- info row -->
        <div class="row invoice-info form-horizontal">
            <div class="col-sm-4 invoice-col">
                <div class="form-group input-daterange" data-provide="datepicker">
                    @Html.LabelFor(model => model.Compra.Fecha, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9"> @Html.EditorFor(model => model.Compra.Fecha, new { htmlAttributes = new { @class = "form-control", @id = "fechacompra", placeholder = "Fecha", @required = "true", aria_required = "true" } }) @Html.ValidationMessageFor(model => model.Compra.Fecha, "", new { @class = "text-danger" }) </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <div class="form-group">
                    @Html.LabelFor(model => model.Compra.NumeroFactura, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9"> @Html.EditorFor(model => model.Compra.NumeroFactura, new { htmlAttributes = new { @class = "form-control", placeholder = "Nº de Factura", @required = "true", aria_required = "true" } }) @Html.ValidationMessageFor(model => model.Compra.NumeroFactura, "", new { @class = "text-danger" }) </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <div class="form-group">
                    @Html.LabelFor(model => model.Compra.Total, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9"> @Html.EditorFor(model => model.Compra.Total, new { htmlAttributes = new { @class = "form-control", placeholder = "Total", @required = "true", aria_required = "true" } }) @Html.ValidationMessageFor(model => model.Compra.Total, "", new { @class = "text-danger" }) </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    }
    <div class="row invoice-info">
        <div class="col-sm-12 invoice-col">
            <table class="table table-striped table-condensed" id="itemsTable">
                <thead>
                    <tr>
                        <th style="width: 5%"></th>
                        <th style="width: 15%">Item</th>
                        <th style="width: 30%">Description</th>
                        <th style="width: 10%">Qty</th>
                        <th style="width: 20%">Price</th>
                        <th style="width: 20%">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="item-row">
                        <td></td>
                        <td>
                            <input type="hidden" name="Id[]" value="" id="Id" />
                            <input type="number" name="RepuestoId[]" value="" placeholder="Cod.: Repuesto" class="form-control input-sm" id="RepuestoId" tabindex="1" />
                        </td>
                        <td>
                            <input type="text" name="Nombre[]" value="" class="form-control input-sm" placeholder="Descripcion" id="Nombre" readonly="readonly" />
                        </td>
                        <td>
                            <input type="number" name="Cantidad[]" value="1" min="1" max="100" class="form-control input-sm" id="Cantidad" placeholder="Cantidad" tabindex="2" required/>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">Gs. </span><input name="PrecioVenta1[]" class="form-control input-sm" placeholder="Precio" id="PrecioVenta1" type="text">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">Gs. </span><input name="Total[]" class="form-control input-sm" id="Total" placeholder="Total" type="text" readonly="readonly">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="#" id="addRowBtn" class="btn btn-success"><i class="im-cart3"></i> Agregar</a>
            <input id="saveInvoiceBtn" class="btn btn-primary" type="submit" name="saveInvoice" value="Guardar">
            <a href="" type="reset" id="" class="btn btn-danger pull-right">
                <i class="glyphicon glyphicon-chevron-left"></i> Cancelar
            </a>
        </div>
    </div>
    <div class="row invoice-info">
        <div class="col-sm-7 invoice-col">
        </div>
        <div class="col-sm-5 invoice-col text-right">
            <div class="row">
                <div class="col-md-6 text-right">
                    <h5>Sub Total:</h5>
                </div>
                <div class="col-md-6 text-left">
                    <h5 id="subTotal">$</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">
                    <div class="input-group">
                        <input placeholder="Sales Tax" type="text" name="tax" id="tax" value="" class="form-control input-sm" /><span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-md-6 text-left" id="salesTax">
                    <h5>
                        Gs. 
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">
                    <h4>Grand Total:</h4>
                </div>
                <div class="col-md-6 text-left">
                    <h4 id="grandTotal">
                        Gs. 
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<div class="clearfix"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}