@model LaTuerca.ViewModels.CompraViewModel
@{
    ViewBag.Title = "Factura Compra";
}
<section class="content-header">
    <h1><i class="en-credit-card"></i>  @ViewBag.Title <small></small> </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Factura</a></li>
        <li class="active">Compra</li>
    </ol>
</section>
@if (TempData["notice"] != null)
{
    <div class="pad margin no-print" id="mensaje">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Alerta:</h4>
            @TempData["notice"]
        </div>
    </div>
}<!-- Main content -->
<section class="invoice">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken() <!-- title row -->
    <!-- info row -->
        <div class="row invoice-info form-horizontal">
            <div class="col-md-2">
                <div class="box">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <img class="img-thumbnail" src="~/Content/img/mundo.jpeg" />
                        </div><!-- /.box-body -->
                    </div>
                </div><!-- /.box -->
            </div>
            <div class="col-md-2">
            </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-body">
                            <div class="form-group" id="div-select-proveedor">
                                <div class="col-lg-12">
                                    @Html.DropDownList("Proveedor", new SelectList(Model.Proveedores, "Id", "RazonSocial"), "Seleccione un Proveedor", new { @id = "select-proveedor", placeholder = "Seleccione un Proveedor", @required = "true" })
                                    @Html.ValidationMessageFor(model => model.Proveedores, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="RUC" />
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Telefono" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input type="text" class="form-control input-sm" placeholder="Direccion" />
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-body">
                            <div class="col-lg-12">
                                <div class="form-group input-daterange" data-provide="datepicker">
                                    @Html.LabelFor(model => model.Compra.Fecha, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Compra.Fecha, new { htmlAttributes = new { @class = "form-control input-sm", @id = "fechacompra", placeholder = "Fecha", @required = "true", aria_required = "true" } }) @Html.ValidationMessageFor(model => model.Compra.Fecha, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Compra.NumeroFactura, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Compra.NumeroFactura, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Nº de Factura", @required = "true", aria_required = "true" } }) @Html.ValidationMessageFor(model => model.Compra.NumeroFactura, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Compra.Total, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9"> @Html.EditorFor(model => model.Compra.Total, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Total", @required = "true", aria_required = "true" } }) @Html.ValidationMessageFor(model => model.Compra.Total, "", new { @class = "text-danger" }) </div>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                </div>
            </div>
    }
    <div class="row invoice-info">
        <div class="col-sm-12 invoice-col">
            <table class="table table-striped table-condensed" id="">
                <thead></thead>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <a href="#" id="addRowBtn" class="btn btn-primary btn-sm"><i class="im-cart3"></i> Agregar</a>
                            <a href="" type="reset" id="" class="btn btn-danger btn-sm">
                                <i class="im-reply"></i> Cancelar
                            </a>
                            <button id="saveInvoiceBtn" class="btn btn-success btn-sm" type="submit" name="saveInvoice" value="Guardar"> <i class="im-airplane"></i> Guardar</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <table class="table table-striped table-condensed" id="itemsTable">
                <thead>
                    <tr>
                        <th style="width: 5%"><i class="im-remove"></i></th>
                        <th style="width: 15%">Item</th>
                        <th style="width: 30%">Description</th>
                        <th style="width: 10%">Cantidad</th>
                        <th style="width: 20%">Precio Unit.</th>
                        <th style="width: 20%">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="item-row">
                        <td></td>
                        <td>
                            <input type="hidden" name="Id[]" value="" id="Id" />
                            <input type="number" name="RepuestoId[]" value="" placeholder="Cod.: Repuesto" class="form-control input-sm" id="RepuestoId" tabindex="1" />
                        </td>
                        <td>
                            <input type="text" name="Nombre[]" value="" class="form-control input-sm" placeholder="Descripcion" id="Nombre" readonly="readonly" />
                        </td>
                        <td>
                            <input type="number" name="Cantidad[]" value="1" min="1" max="100" class="form-control input-sm" id="Cantidad" placeholder="Cantidad" tabindex="2" required />
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">Gs. </span><input name="PrecioVenta1[]" class="form-control input-sm" placeholder="Precio" id="PrecioVenta1" type="text">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">Gs. </span><input name="Total[]" class="form-control input-sm" id="Total" placeholder="Total" type="text" readonly="readonly">
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2" class="text-right">
                            <div class="input-group pull-right">
                                <input placeholder="IVA" type="text" name="tax" id="tax" value="10" class="form-control input-sm" /><span class="input-group-addon">%</span>
                            </div>
                        </td>
                        <td colspan="2" class="text-right" id="salesTax"><h4>Gs. </h4> </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2" class="text-right"><h4>Sub Total:</h4></td>
                        <td colspan="2" class="text-right"><h4 id="subTotal"></h4></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right"><h3>Total: </h3></td>
                        <td colspan="2" class="text-right">
                            <h4 id="grandTotal">
                                Gs.
                            </h4>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
<!-- /.content -->
<div class="clearfix"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}