@model LaTuerca.Models.DetallesFacturaProveedor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetallesFacturaProveedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacturaProveedor.Metodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaProveedor.Metodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repuesto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repuesto.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
