@model IEnumerable<LaTuerca.Models.FacturaCliente>
@using LaTuerca.Controllers
@{
    EmpresasController empresa = new EmpresasController();
    ViewBag.NombreEmpresa = empresa.getNombreEmpresa();
}

@{
    ViewBag.Title = "Presupuestos";
    IFormatProvider formatProvider = new System.Globalization.CultureInfo("es-PY");
}

@if (TempData["notice"] != null)
{
    <div class="pad margin no-print" id="mensaje">
        <div class="callout callout-success" style="margin-bottom: 0!important;">
            <i class="fa fa-check"></i>   @TempData["notice"]
        </div>
    </div>
}
<section class="content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class='box-header with-border'>
                        <div class="user-block">
                            <img class="img-circle tip" src="~/Content/img/mundo.jpeg" width="50" title="@ViewBag.NombreEmpresa" alt="@ViewBag.NombreEmpresa">
                            <span class="username"><a href="#" class="text-capitalize">@ViewBag.NombreEmpresa</a></span>
                            <span class='description'>Factura Venta</span>
                        </div>
                        <div class='box-tools btn-group'>
                            <a href="@Url.Action("Facturados", "FacturaClientes")" id="" class="btn btn-link btn-sm hidden-lg tip" title="Ver Facturas">
                                <i class="ion-ios-paper-outline"></i>
                            </a>
                            <a href="@Url.Action("Facturados", "FacturaClientes")" id="" class="btn btn-link btn-sm visible-lg tip" title="Ver Facturas">
                                <i class="ion-ios-paper-outline"></i> <b>Ver Facturas</b>
                            </a>
                            <a href="@Url.Action("Factura", "FacturaClientes")" id="" class="btn btn-link btn-sm hidden-lg tip" title="Nueva Factura">
                                <i class="fa fa-files-o"></i>
                            </a>
                            <a href="@Url.Action("Factura", "FacturaClientes")" id="" class="btn btn-link btn-sm visible-lg tip" title="Nueva Factura">
                                <i class="fa fa-files-o"></i> <b>Nueva Factura</b>
                            </a>
                        </div><!-- /.box-tools -->
                    </div><!-- /.box-header -->
                    <div class='box-body'>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-hover table-striped" id="tablaMenu">
                                        <thead>
                                            <tr>
                                                <th class="col-lg-1"></th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Cliente.RazonSocial)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Fecha)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.FechaPago)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.NumeroFactura)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Total)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.TotalPagado)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Metodo)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Pagado)
                                                </th>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                        {
                                                <tr>
                                                    <td class="col-lg-1">
                                                        <div class="btn-group btn-group-justified">
                                                                    <span class="form-actions no-color">
                                                                        <a href="@Url.Action("Details", "FacturaClientes", new { id = item.Id })" class="btn btn-success btn-xs btn-flat tip visible-lg" title="Aprobar Presupuesto" type="submit">
                                                                            <i class="fa fa-paper-clip"></i>  <b>Aprobar</b>
                                                                        </a>
                                                                        <a href="@Url.Action("Details", "FacturaClientes", new { id = item.Id })" class="btn btn-success btn-xs btn-flat hidden-lg btn-sm tip" title="Aprobar Presupuesto" type="submit">
                                                                            <i class="fa fa-paper-clip"></i>
                                                                        </a>
                                                                    </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Cliente.RazonSocial)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Fecha)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FechaPago)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NumeroFactura)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Total)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TotalPagado)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Metodo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Pagado)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </div>
    }
    </section>